
body {
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
}

#calculator {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.display {
  display: flex;
  justify-content: flex-end;
  background-color: gray;
  height: 100px;
  font-weight: bold;
  color: white;
  line-height: 100px;
  font-size: 4em;
  padding: 10px;
}

.buttonPanel {
  display: flex;
  flex-direction: column;
}

.button_group {
  height: 100px;
  display: flex;
  flex-direction: row;
}

.button {
  width: 25%;
  text-align: center;
  line-height: 100px;
  border: 1px solid gray;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    color: rgb(61, 59, 59);
    font-size: 1.6em;
  }
}

.large {
  width: calc(50% + 4px);
}